<html>
    <body>
        <div>
            <h1>404</h1>
            <div>
                Böyle bir kullanıcı yok.
            </div>
            <div>
                <a href="/">
                    Yeniden giriş yapmayı dene
                </a>
            </div>
        </div>
    </body>
</html>