<html>
    <body style="margin:0px;padding:0;display:flex;justify-content:space-around;width:100%">
        <div>Welcome, <%= name %></div>
        <div><a href="/">Çıkış</a></div>
    </body>
</html>